.reveal h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-content: center;
}

.reveal section.two-floating-elements {
  grid-template-columns: fit-content(50%) fit-content(50%);
  grid-template-rows: 110px fit-content(50%);
}

section.two-floating-elements {
  > ul {
    grid-row-start: 2;
    grid-row-end: 2;
  }
  > p {
    grid-column-start: 2;
    grid-row-start: 2;
    float:right;
  }
}

.reveal section.image-only {
  grid-template-columns: auto;
  grid-template-rows: 110px auto;
}

.reveal section.image-only p {
  margin: 0px;
  grid-column-start: 1;
  grid-column-end: 3;
}
